# GAM local environment template.
# Do not put real secrets in this file.
#
# Runtime:
#   GAM_py/src/bin/gam
#
# External PKI/config/runtime:
#   $HOME/GAM_CELL_PKI/GAM_py/config
#   $HOME/GAM_CELL_PKI/GAM_py/runtime
#   $HOME/GAM_CELL_PKI/GAM_py/certs
#
# Optional local overrides:
# TEC_GAM_CELL=
# TEC_GAM_PY=
# TEC_GAM_PY_SRC=
# TEC_GAM_PY_CONFIG=
# TEC_GAM_PY_PKI=
# TEC_GAM_API_RUNTIME=
